.mediaViewInfo {
	--web-view-name: Samsung Galaxy S10 – 1;
	--web-view-id: container;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: container;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#container {
	position: absolute;
	width: 514px;
	height: auto !important;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Samsung Galaxy S10 – 1;
	--web-view-id: container;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Grupo_125 {
	position: absolute;
	width: 480.638px;
	height: 781.14px;
	left: -1.692px;
	top: 172.091px;
	overflow: visible;
}
#Lnea_69 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_69 {
	overflow: visible;
	position: absolute;
	width: 183.164px;
	height: 53.307px;
	left: 149.002px;
	top: 119.508px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_341 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_341 {
	overflow: visible;
	position: absolute;
	width: 80.682px;
	height: 45.53px;
	left: 102.247px;
	top: 37.67px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_340 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_340 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 480.638px;
	top: 91.136px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_348 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_348 {
	overflow: visible;
	position: absolute;
	width: 36.138px;
	height: 271.697px;
	left: 31.434px;
	top: 409.275px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_342 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_342 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 105.036px;
	top: 774.031px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_77 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_77 {
	overflow: visible;
	position: absolute;
	width: 221.007px;
	height: 16.472px;
	left: 190.08px;
	top: 755.368px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_344 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_344 {
	overflow: visible;
	position: absolute;
	width: 38.763px;
	height: 38.145px;
	left: 408.23px;
	top: 172.335px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_83 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_83 {
	overflow: visible;
	position: absolute;
	width: 60.732px;
	height: 65.503px;
	left: 396.192px;
	top: 217.246px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_345 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_345 {
	overflow: visible;
	position: absolute;
	width: 68.057px;
	height: 167.8px;
	left: 54.098px;
	top: 394.833px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_72 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_72 {
	position: absolute;
	overflow: visible;
	width: 25.68px;
	height: 25.685px;
	left: 16.588px;
	top: 0px;
}
#Elipse_89 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_89 {
	position: absolute;
	overflow: visible;
	width: 42.99px;
	height: 42.99px;
	left: 171.516px;
	top: 11.98px;
}
#Elipse_90 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_90 {
	position: absolute;
	overflow: visible;
	width: 29.68px;
	height: 29.676px;
	left: 432.045px;
	top: 202.899px;
}
#Elipse_88 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_88 {
	position: absolute;
	overflow: visible;
	width: 31.01px;
	height: 31.007px;
	left: 406.548px;
	top: 731.139px;
}
#Elipse_93 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_93 {
	position: absolute;
	overflow: visible;
	width: 20.215px;
	height: 20.21px;
	left: 170.57px;
	top: 761.43px;
}
#Grupo_126 {
	mix-blend-mode: normal;
	position: absolute;
	width: 153.67px;
	height: 406.621px;
	left: 0px;
	top: 15.757px;
	overflow: visible;
}
#Grupo_115 {
	position: absolute;
	width: 153.67px;
	height: 406.621px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_31 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_31 {
	overflow: visible;
	position: absolute;
	width: 127.055px;
	height: 346.282px;
	left: 0px;
	top: 31.746px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_32 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_32 {
	overflow: visible;
	position: absolute;
	width: 78.26px;
	height: 248.41px;
	left: 0px;
	top: 82.36px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_33 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_33 {
	overflow: visible;
	position: absolute;
	width: 142.111px;
	height: 382.695px;
	left: 0px;
	top: 12.421px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_34 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_34 {
	overflow: visible;
	position: absolute;
	width: 154.02px;
	height: 407.091px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_124 {
	position: absolute;
	width: 195px;
	height: 195px;
	left: 225px;
	top: 198px;
	overflow: visible;
}
#Elipse_75 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_75 {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 195px;
	left: 0px;
	top: 0px;
}
#click {
	position: absolute;
	width: 25.391px;
	height: 41.265px;
	left: 84.696px;
	top: 105.413px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: mobile.html;
	cursor: pointer;
}
#Trazado_280 {
	fill: rgba(183,177,164,1);
}
.Trazado_280 {
	overflow: visible;
	position: absolute;
	width: 1.372px;
	height: 3.438px;
	left: 20.583px;
	top: 25.447px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_281 {
	fill: rgba(183,177,164,1);
}
.Trazado_281 {
	overflow: visible;
	position: absolute;
	width: 1.372px;
	height: 4.126px;
	left: 17.153px;
	top: 24.071px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_282 {
	fill: rgba(183,177,164,1);
}
.Trazado_282 {
	overflow: visible;
	position: absolute;
	width: 1.378px;
	height: 6.19px;
	left: 13.717px;
	top: 22.008px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_283 {
	fill: rgba(183,177,164,1);
}
.Trazado_283 {
	overflow: visible;
	position: absolute;
	width: 19.911px;
	height: 27.51px;
	left: 5.48px;
	top: 13.755px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_284 {
	fill: rgba(183,177,164,1);
}
.Trazado_284 {
	overflow: visible;
	position: absolute;
	width: 24.695px;
	height: 12.379px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_285 {
	fill: rgba(183,177,164,1);
}
.Trazado_285 {
	overflow: visible;
	position: absolute;
	width: 10.291px;
	height: 17.881px;
	left: 14.404px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_286 {
	fill: rgba(183,177,164,1);
}
.Trazado_286 {
	overflow: visible;
	position: absolute;
	width: 10.291px;
	height: 17.881px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_287 {
	fill: rgba(183,177,164,1);
}
.Trazado_287 {
	overflow: visible;
	position: absolute;
	width: 24.695px;
	height: 17.881px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#For_investment_opportunities__ {
	left: 34.688px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 125.688px;
	height: 69px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(96,91,85,1);
}
#Grupo_123 {
	position: absolute;
	width: 195px;
	height: 195px;
	left: 239px;
	top: 433px;
	overflow: visible;
}
#Elipse_76 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_76 {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 195px;
	left: 0px;
	top: 0px;
}
#For_more_information__about_NC {
	left: 8px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 144px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Mesa_de_trabajo___2.html;
	cursor: pointer;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(96,91,85,1);
}
#Grupo_121 {
	position: absolute;
	width: 349.255px;
	height: 63.11px;
	left: 100.745px;
	top: 730.771px;
	overflow: visible;
}
#Trazado_349 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_349 {
	overflow: visible;
	position: absolute;
	width: 63.06px;
	height: 63.063px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_78 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_78 {
	position: absolute;
	overflow: visible;
	width: 35.02px;
	height: 32.94px;
	left: 15.795px;
	top: 15.024px;
}
#outline {
	transform: translate(0px, -0.231px) matrix(1,0,0,1,49.786,14.7683) rotate(32deg);
	transform-origin: center;
	position: absolute;
	width: 57.418px;
	height: 36.102px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_299 {
	fill: rgba(233,228,219,1);
}
.Trazado_299 {
	overflow: visible;
	position: absolute;
	width: 8.912px;
	height: 8.856px;
	left: 4.97px;
	top: 17.268px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_347 {
	fill: rgba(233,228,219,1);
}
.Trazado_347 {
	overflow: visible;
	position: absolute;
	width: 2.228px;
	height: 2.214px;
	left: 22.531px;
	top: 29.998px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_346 {
	fill: rgba(233,228,219,1);
}
.Trazado_346 {
	overflow: visible;
	position: absolute;
	width: 2.228px;
	height: 2.214px;
	left: 18.686px;
	top: 27.964px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_300 {
	fill: rgba(233,228,219,1);
}
.Trazado_300 {
	overflow: visible;
	position: absolute;
	width: 2.228px;
	height: 2.214px;
	left: 16.257px;
	top: 25.931px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_301 {
	fill: rgba(233,228,219,1);
}
.Trazado_301 {
	overflow: visible;
	position: absolute;
	width: 2.228px;
	height: 2.214px;
	left: 13.828px;
	top: 23.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_302 {
	fill: rgba(233,228,219,1);
}
.Trazado_302 {
	overflow: visible;
	position: absolute;
	width: 55.464px;
	height: 53.32px;
	left: 12.36px;
	top: -10.277px;
	transform: matrix(1,0,0,1,0,0);
}
#contactnovastonecapitalcom {
	left: 79.255px;
	top: 0.23px;
	position: absolute;
	overflow: visible;
	width: 271px;
	height: 25px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(96,91,85,1);
}
#Grupo_122 {
	position: absolute;
	width: 425.342px;
	height: 62.563px;
	left: 42.658px;
	top: 852.282px;
	overflow: visible;
}
#Elipse_79 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Elipse_79 {
	position: absolute;
	overflow: visible;
	width: 63.06px;
	height: 63.063px;
	left: 0px;
	top: 0px;
}
#Trazado_303 {
	fill: rgba(233,228,219,1);
}
.Trazado_303 {
	overflow: visible;
	position: absolute;
	width: 31.239px;
	height: 31.162px;
	left: 15.249px;
	top: 15.673px;
	transform: matrix(1,0,0,1,0,0);
}
#Haldenstrasse_5__PO_Box_1359_6 {
	left: 123.342px;
	top: 20.719px;
	position: absolute;
	overflow: visible;
	width: 303px;
	height: 41px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(96,91,85,1);
}
#Grupo_120 {
	position: absolute;
	width: 437.871px;
	height: 133.501px;
	left: 41.074px;
	top: 40.21px;
	overflow: visible;
}
#LOGO_BLANC {
	position: absolute;
	width: 437.871px;
	height: 95.68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#GRAPHISME__TEXTE {
	position: absolute;
	width: 437.871px;
	height: 95.68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TEXTE {
	position: absolute;
	width: 291.686px;
	height: 63.635px;
	left: 146.186px;
	top: 16.022px;
	overflow: visible;
}
#Trazado_1 {
	fill: rgba(112,112,112,1);
}
.Trazado_1 {
	overflow: visible;
	position: absolute;
	width: 26.083px;
	height: 30.771px;
	left: 0px;
	top: 0.261px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_2 {
	fill: rgba(112,112,112,1);
}
.Trazado_2 {
	overflow: visible;
	position: absolute;
	width: 32.064px;
	height: 31.205px;
	left: 35.099px;
	top: 0.044px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_3 {
	fill: rgba(112,112,112,1);
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 28.866px;
	height: 30.684px;
	left: 71.302px;
	top: 0.478px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_4 {
	fill: rgba(112,112,112,1);
}
.Trazado_4 {
	overflow: visible;
	position: absolute;
	width: 28.866px;
	height: 30.684px;
	left: 100.901px;
	top: 0.174px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_5 {
	fill: rgba(112,112,112,1);
}
.Trazado_5 {
	overflow: visible;
	position: absolute;
	width: 22.845px;
	height: 31.336px;
	left: 135.995px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6 {
	fill: rgba(112,112,112,1);
}
.Trazado_6 {
	overflow: visible;
	position: absolute;
	width: 23.443px;
	height: 30.379px;
	left: 164.73px;
	top: 0.478px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_7 {
	fill: rgba(112,112,112,1);
}
.Trazado_7 {
	overflow: visible;
	position: absolute;
	width: 32.061px;
	height: 31.205px;
	left: 192.727px;
	top: 0.044px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_8 {
	fill: rgba(112,112,112,1);
}
.Trazado_8 {
	overflow: visible;
	position: absolute;
	width: 26.083px;
	height: 30.771px;
	left: 233.83px;
	top: 0.261px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_9 {
	fill: rgba(112,112,112,1);
}
.Trazado_9 {
	overflow: visible;
	position: absolute;
	width: 20.988px;
	height: 30.379px;
	left: 270.698px;
	top: 0.478px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_10 {
	fill: rgba(112,112,112,1);
}
.Trazado_10 {
	overflow: visible;
	position: absolute;
	width: 16.611px;
	height: 18.761px;
	left: 87.497px;
	top: 44.874px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11 {
	fill: rgba(112,112,112,1);
}
.Trazado_11 {
	overflow: visible;
	position: absolute;
	width: 17.306px;
	height: 18.396px;
	left: 107.702px;
	top: 45.005px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_12 {
	fill: rgba(112,112,112,1);
}
.Trazado_12 {
	overflow: visible;
	position: absolute;
	width: 13.833px;
	height: 18.214px;
	left: 129.588px;
	top: 45.187px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_13 {
	fill: rgba(112,112,112,1);
}
.Trazado_13 {
	overflow: visible;
	position: absolute;
	width: 2.361px;
	height: 18.214px;
	left: 148.417px;
	top: 45.187px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_14 {
	fill: rgba(112,112,112,1);
}
.Trazado_14 {
	overflow: visible;
	position: absolute;
	width: 14.055px;
	height: 18.214px;
	left: 155.52px;
	top: 45.187px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_15 {
	fill: rgba(112,112,112,1);
}
.Trazado_15 {
	overflow: visible;
	position: absolute;
	width: 17.306px;
	height: 18.396px;
	left: 170.432px;
	top: 45.005px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_16 {
	fill: rgba(112,112,112,1);
}
.Trazado_16 {
	overflow: visible;
	position: absolute;
	width: 10.002px;
	height: 18.214px;
	left: 192.315px;
	top: 45.187px;
	transform: matrix(1,0,0,1,0,0);
}
#GRAPHISME {
	position: absolute;
	width: 87.008px;
	height: 95.68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Elipse_1 {
	fill: rgba(112,112,112,1);
}
.Elipse_1 {
	position: absolute;
	overflow: visible;
	width: 20.438px;
	height: 19.144px;
	left: 66.57px;
	top: 0px;
}
#Trazado_17 {
	fill: rgba(112,112,112,1);
}
.Trazado_17 {
	overflow: visible;
	position: absolute;
	width: 78.937px;
	height: 95.68px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_119 {
	position: absolute;
	width: 437.081px;
	height: 18.313px;
	left: 0.79px;
	top: 115.188px;
	overflow: visible;
}
#Trazado_304 {
	fill: rgba(112,112,112,1);
}
.Trazado_304 {
	overflow: visible;
	position: absolute;
	width: 19.804px;
	height: 14.12px;
	left: 0px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_305 {
	fill: rgba(112,112,112,1);
}
.Trazado_305 {
	overflow: visible;
	position: absolute;
	width: 10.891px;
	height: 10.758px;
	left: 20.479px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_306 {
	fill: rgba(112,112,112,1);
}
.Trazado_306 {
	overflow: visible;
	position: absolute;
	width: 10.641px;
	height: 10.758px;
	left: 38.529px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_307 {
	fill: rgba(112,112,112,1);
}
.Trazado_307 {
	overflow: visible;
	position: absolute;
	width: 7.03px;
	height: 10.501px;
	left: 51.112px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_308 {
	fill: rgba(112,112,112,1);
}
.Trazado_308 {
	overflow: visible;
	position: absolute;
	width: 10.892px;
	height: 10.758px;
	left: 58.797px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_309 {
	fill: rgba(112,112,112,1);
}
.Trazado_309 {
	overflow: visible;
	position: absolute;
	width: 10.642px;
	height: 10.758px;
	left: 76.846px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_310 {
	fill: rgba(112,112,112,1);
}
.Trazado_310 {
	overflow: visible;
	position: absolute;
	width: 10.24px;
	height: 10.501px;
	left: 89.43px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_311 {
	fill: rgba(112,112,112,1);
}
.Trazado_311 {
	overflow: visible;
	position: absolute;
	width: 2.998px;
	height: 14.12px;
	left: 107.903px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_312 {
	fill: rgba(112,112,112,1);
}
.Trazado_312 {
	overflow: visible;
	position: absolute;
	width: 10.238px;
	height: 10.501px;
	left: 113.266px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_313 {
	fill: rgba(112,112,112,1);
}
.Trazado_313 {
	overflow: visible;
	position: absolute;
	width: 11.105px;
	height: 14.377px;
	left: 125.319px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_314 {
	fill: rgba(112,112,112,1);
}
.Trazado_314 {
	overflow: visible;
	position: absolute;
	width: 10.89px;
	height: 10.758px;
	left: 138.158px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_315 {
	fill: rgba(112,112,112,1);
}
.Trazado_315 {
	overflow: visible;
	position: absolute;
	width: 11.105px;
	height: 14.081px;
	left: 150.802px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_316 {
	fill: rgba(112,112,112,1);
}
.Trazado_316 {
	overflow: visible;
	position: absolute;
	width: 10.892px;
	height: 10.758px;
	left: 163.174px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_317 {
	fill: rgba(112,112,112,1);
}
.Trazado_317 {
	overflow: visible;
	position: absolute;
	width: 10.24px;
	height: 10.501px;
	left: 175.821px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_318 {
	fill: rgba(112,112,112,1);
}
.Trazado_318 {
	overflow: visible;
	position: absolute;
	width: 11.107px;
	height: 14.377px;
	left: 187.874px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_319 {
	fill: rgba(112,112,112,1);
}
.Trazado_319 {
	overflow: visible;
	position: absolute;
	width: 10.893px;
	height: 10.758px;
	left: 200.711px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_320 {
	fill: rgba(112,112,112,1);
}
.Trazado_320 {
	overflow: visible;
	position: absolute;
	width: 10.238px;
	height: 10.501px;
	left: 213.359px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_321 {
	fill: rgba(112,112,112,1);
}
.Trazado_321 {
	overflow: visible;
	position: absolute;
	width: 7.008px;
	height: 13.389px;
	left: 224.865px;
	top: 1.167px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_322 {
	fill: rgba(112,112,112,1);
}
.Trazado_322 {
	overflow: visible;
	position: absolute;
	width: 12.689px;
	height: 14.773px;
	left: 238.544px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_323 {
	fill: rgba(112,112,112,1);
}
.Trazado_323 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 14.12px;
	left: 252.965px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_324 {
	fill: rgba(112,112,112,1);
}
.Trazado_324 {
	overflow: visible;
	position: absolute;
	width: 10.24px;
	height: 10.501px;
	left: 258.327px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_325 {
	fill: rgba(112,112,112,1);
}
.Trazado_325 {
	overflow: visible;
	position: absolute;
	width: 10.831px;
	height: 14.358px;
	left: 270.509px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_326 {
	fill: rgba(112,112,112,1);
}
.Trazado_326 {
	overflow: visible;
	position: absolute;
	width: 2.998px;
	height: 14.12px;
	left: 283.831px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_327 {
	fill: rgba(112,112,112,1);
}
.Trazado_327 {
	overflow: visible;
	position: absolute;
	width: 10.893px;
	height: 10.758px;
	left: 288.664px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_328 {
	fill: rgba(112,112,112,1);
}
.Trazado_328 {
	overflow: visible;
	position: absolute;
	width: 10.597px;
	height: 14.12px;
	left: 307.499px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_329 {
	fill: rgba(112,112,112,1);
}
.Trazado_329 {
	overflow: visible;
	position: absolute;
	width: 10.641px;
	height: 10.758px;
	left: 319.235px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_330 {
	fill: rgba(112,112,112,1);
}
.Trazado_330 {
	overflow: visible;
	position: absolute;
	width: 16.677px;
	height: 10.501px;
	left: 331.905px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_331 {
	fill: rgba(112,112,112,1);
}
.Trazado_331 {
	overflow: visible;
	position: absolute;
	width: 2.998px;
	height: 14.12px;
	left: 351.033px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_332 {
	fill: rgba(112,112,112,1);
}
.Trazado_332 {
	overflow: visible;
	position: absolute;
	width: 2.998px;
	height: 14.12px;
	left: 356.478px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_333 {
	fill: rgba(112,112,112,1);
}
.Trazado_333 {
	overflow: visible;
	position: absolute;
	width: 11.19px;
	height: 13.804px;
	left: 360.595px;
	top: 4.232px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_334 {
	fill: rgba(112,112,112,1);
}
.Trazado_334 {
	overflow: visible;
	position: absolute;
	width: 14.821px;
	height: 14.773px;
	left: 378.328px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_335 {
	fill: rgba(112,112,112,1);
}
.Trazado_335 {
	overflow: visible;
	position: absolute;
	width: 7.03px;
	height: 14.12px;
	left: 393.951px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_336 {
	fill: rgba(112,112,112,1);
}
.Trazado_336 {
	overflow: visible;
	position: absolute;
	width: 7.03px;
	height: 14.12px;
	left: 400.982px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_337 {
	fill: rgba(112,112,112,1);
}
.Trazado_337 {
	overflow: visible;
	position: absolute;
	width: 2.998px;
	height: 14.12px;
	left: 409.239px;
	top: 0.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_338 {
	fill: rgba(112,112,112,1);
}
.Trazado_338 {
	overflow: visible;
	position: absolute;
	width: 10.767px;
	height: 10.758px;
	left: 414.262px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_339 {
	fill: rgba(112,112,112,1);
}
.Trazado_339 {
	overflow: visible;
	position: absolute;
	width: 10.893px;
	height: 10.758px;
	left: 426.188px;
	top: 3.955px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_343 {
	fill: rgba(0,0,0,0);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_343 {
	overflow: visible;
	position: absolute;
	width: 69.183px;
	height: 38.368px;
	left: 99.615px;
	top: 901.844px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_88 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_88 {
	overflow: visible;
	position: absolute;
	width: 10.499px;
	height: 161.031px;
	left: 422.5px;
	top: 740.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_94 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_94 {
	position: absolute;
	overflow: visible;
	width: 20.215px;
	height: 20.21px;
	left: 422.52px;
	top: 721.122px;
}
#Lnea_89 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_89 {
	overflow: visible;
	position: absolute;
	width: 44.514px;
	height: 104.72px;
	left: 382.446px;
	top: 616.974px;
	transform: matrix(1,0,0,1,0,0);
}