.mediaViewInfo {
	--web-view-name: Samsung Galaxy S10 – 2;
	--web-view-id: Samsung_Galaxy_S10__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Samsung_Galaxy_S10__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Samsung_Galaxy_S10__2 {
	position: absolute;
	width: 100%;
	height: 350px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Samsung Galaxy S10 – 2;
	--web-view-id: Samsung_Galaxy_S10__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Lnea_89 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_89 {
	overflow: visible;
	position: absolute;
	width: 160.381px;
	height: 188.324px;
	left: 200.5px;
	top: 104.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_88 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_88 {
	overflow: visible;
	position: absolute;
	width: 24.473px;
	height: 70.162px;
	left: 312.5px;
	top: 226.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_93 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_93 {
	overflow: visible;
	position: absolute;
	width: 19.333px;
	height: 17.373px;
	left: 195.5px;
	top: 315.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_91 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_91 {
	overflow: visible;
	position: absolute;
	width: 107.092px;
	height: 20.492px;
	left: 222.5px;
	top: 312.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_92 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_92 {
	overflow: visible;
	position: absolute;
	width: 8.457px;
	height: 18.203px;
	left: 8.5px;
	top: 279.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_79 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_79 {
	overflow: visible;
	position: absolute;
	width: 133.127px;
	height: 35.483px;
	left: 93.5px;
	top: 159.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_94 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_94 {
	overflow: visible;
	position: absolute;
	width: 22.132px;
	height: 6.482px;
	left: 226.5px;
	top: 188.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_90 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_90 {
	overflow: visible;
	position: absolute;
	width: 120.221px;
	height: 59.449px;
	left: 64.5px;
	top: 235.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_29 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_29 {
	position: absolute;
	overflow: visible;
	width: 18.303px;
	height: 18.303px;
	left: 3.589px;
	top: 4.35px;
}
#Grupo_118 {
	position: absolute;
	width: 95.049px;
	height: 259.581px;
	left: -1.692px;
	top: 23.919px;
	overflow: visible;
}
#Grupo_115 {
	position: absolute;
	width: 95.049px;
	height: 259.581px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_31 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_31 {
	overflow: visible;
	position: absolute;
	width: 78.715px;
	height: 221.226px;
	left: 0px;
	top: 20.266px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_32 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_32 {
	overflow: visible;
	position: absolute;
	width: 48.554px;
	height: 158.739px;
	left: 0px;
	top: 52.577px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_33 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_33 {
	overflow: visible;
	position: absolute;
	width: 88.034px;
	height: 244.473px;
	left: 0px;
	top: 7.929px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_34 {
	fill: transparent;
	stroke: rgba(138,148,144,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_34 {
	overflow: visible;
	position: absolute;
	width: 95.397px;
	height: 260.049px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_68 {
	fill: transparent;
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_68 {
	overflow: visible;
	position: absolute;
	width: 23.318px;
	height: 19.385px;
	left: 57.5px;
	top: 44.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_72 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_72 {
	position: absolute;
	overflow: visible;
	width: 15.418px;
	height: 15.418px;
	left: 80.019px;
	top: 32.034px;
}
#LOGO_BLANC {
	position: absolute;
	width: 208px;
	height: 48.521px;
	left: 110px;
	top: 39.498px;
	overflow: visible;
}
#GRAPHISME__TEXTE {
	position: absolute;
	width: 208px;
	height: 48.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TEXTE {
	position: absolute;
	width: 138.558px;
	height: 32.271px;
	left: 69.442px;
	top: 8.125px;
	overflow: visible;
}
#Trazado_1 {
	fill: rgba(112,112,112,1);
}
.Trazado_1 {
	overflow: visible;
	position: absolute;
	width: 12.39px;
	height: 15.604px;
	left: 0px;
	top: 0.132px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_2 {
	fill: rgba(112,112,112,1);
}
.Trazado_2 {
	overflow: visible;
	position: absolute;
	width: 15.231px;
	height: 15.825px;
	left: 16.673px;
	top: 0.022px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_3 {
	fill: rgba(112,112,112,1);
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 13.712px;
	height: 15.561px;
	left: 33.87px;
	top: 0.242px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_4 {
	fill: rgba(112,112,112,1);
}
.Trazado_4 {
	overflow: visible;
	position: absolute;
	width: 13.712px;
	height: 15.561px;
	left: 47.93px;
	top: 0.088px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_5 {
	fill: rgba(112,112,112,1);
}
.Trazado_5 {
	overflow: visible;
	position: absolute;
	width: 10.852px;
	height: 15.891px;
	left: 64.601px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6 {
	fill: rgba(112,112,112,1);
}
.Trazado_6 {
	overflow: visible;
	position: absolute;
	width: 11.136px;
	height: 15.406px;
	left: 78.251px;
	top: 0.242px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_7 {
	fill: rgba(112,112,112,1);
}
.Trazado_7 {
	overflow: visible;
	position: absolute;
	width: 15.23px;
	height: 15.825px;
	left: 91.55px;
	top: 0.022px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_8 {
	fill: rgba(112,112,112,1);
}
.Trazado_8 {
	overflow: visible;
	position: absolute;
	width: 12.39px;
	height: 15.604px;
	left: 111.075px;
	top: 0.132px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_9 {
	fill: rgba(112,112,112,1);
}
.Trazado_9 {
	overflow: visible;
	position: absolute;
	width: 9.97px;
	height: 15.406px;
	left: 128.588px;
	top: 0.242px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_10 {
	fill: rgba(112,112,112,1);
}
.Trazado_10 {
	overflow: visible;
	position: absolute;
	width: 7.891px;
	height: 9.514px;
	left: 41.563px;
	top: 22.756px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11 {
	fill: rgba(112,112,112,1);
}
.Trazado_11 {
	overflow: visible;
	position: absolute;
	width: 8.221px;
	height: 9.329px;
	left: 51.161px;
	top: 22.823px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_12 {
	fill: rgba(112,112,112,1);
}
.Trazado_12 {
	overflow: visible;
	position: absolute;
	width: 6.571px;
	height: 9.237px;
	left: 61.558px;
	top: 22.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_13 {
	fill: rgba(112,112,112,1);
}
.Trazado_13 {
	overflow: visible;
	position: absolute;
	width: 1.122px;
	height: 9.237px;
	left: 70.502px;
	top: 22.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_14 {
	fill: rgba(112,112,112,1);
}
.Trazado_14 {
	overflow: visible;
	position: absolute;
	width: 6.676px;
	height: 9.237px;
	left: 73.876px;
	top: 22.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_15 {
	fill: rgba(112,112,112,1);
}
.Trazado_15 {
	overflow: visible;
	position: absolute;
	width: 8.221px;
	height: 9.329px;
	left: 80.96px;
	top: 22.823px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_16 {
	fill: rgba(112,112,112,1);
}
.Trazado_16 {
	overflow: visible;
	position: absolute;
	width: 4.751px;
	height: 9.237px;
	left: 91.355px;
	top: 22.915px;
	transform: matrix(1,0,0,1,0,0);
}
#GRAPHISME {
	position: absolute;
	width: 41.331px;
	height: 48.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Elipse_1 {
	fill: rgba(112,112,112,1);
}
.Elipse_1 {
	position: absolute;
	overflow: visible;
	width: 9.708px;
	height: 9.708px;
	left: 31.623px;
	top: 0px;
}
#Trazado_17 {
	fill: rgba(112,112,112,1);
}
.Trazado_17 {
	overflow: visible;
	position: absolute;
	width: 37.497px;
	height: 48.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#We_are_an_independent_Single_F {
	left: 110px;
	top: 93.56px;
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 14px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(112,112,112,1);
}
#Elipse_93 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_93 {
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 102px;
	left: 248px;
	top: 131px;
}
#Elipse_94 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_94 {
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 102px;
	left: 103px;
	top: 131px;
}
#click {
	position: absolute;
	width: 14.821px;
	height: 24.03px;
	left: 146.339px;
	top: 188.307px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Mesa_de_trabajo___1.html;
	cursor: pointer;
}
#Trazado_280 {
	fill: rgba(183,177,164,1);
}
.Trazado_280 {
	overflow: visible;
	position: absolute;
	width: 0.801px;
	height: 2.002px;
	left: 12.015px;
	top: 14.819px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_281 {
	fill: rgba(183,177,164,1);
}
.Trazado_281 {
	overflow: visible;
	position: absolute;
	width: 0.801px;
	height: 2.403px;
	left: 10.012px;
	top: 14.018px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_282 {
	fill: rgba(183,177,164,1);
}
.Trazado_282 {
	overflow: visible;
	position: absolute;
	width: 0.804px;
	height: 3.604px;
	left: 8.007px;
	top: 12.816px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_283 {
	fill: rgba(183,177,164,1);
}
.Trazado_283 {
	overflow: visible;
	position: absolute;
	width: 11.623px;
	height: 16.02px;
	left: 3.199px;
	top: 8.01px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_284 {
	fill: rgba(183,177,164,1);
}
.Trazado_284 {
	overflow: visible;
	position: absolute;
	width: 14.415px;
	height: 7.209px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_285 {
	fill: rgba(183,177,164,1);
}
.Trazado_285 {
	overflow: visible;
	position: absolute;
	width: 6.007px;
	height: 10.413px;
	left: 8.408px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_286 {
	fill: rgba(183,177,164,1);
}
.Trazado_286 {
	overflow: visible;
	position: absolute;
	width: 6.007px;
	height: 10.413px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_287 {
	fill: rgba(183,177,164,1);
}
.Trazado_287 {
	overflow: visible;
	position: absolute;
	width: 14.415px;
	height: 10.413px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#For_investment_opportunities__ {
	left: 120px;
	top: 146px;
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 32px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(96,91,85,1);
}
#For_more_information_about_NCA {
	left: 258px;
	top: 146px;
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 71px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Mesa_de_trabajo___2.html;
	cursor: pointer;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(96,91,85,1);
}
#Elipse_77 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Elipse_77 {
	position: absolute;
	overflow: visible;
	width: 27.591px;
	height: 27.591px;
	left: 7.5px;
	top: 291.5px;
}
#Elipse_95 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Elipse_95 {
	position: absolute;
	overflow: visible;
	width: 27.591px;
	height: 27.591px;
	left: 179.5px;
	top: 291.5px;
}
#Elipse_78 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_78 {
	position: absolute;
	overflow: visible;
	width: 14.547px;
	height: 14.547px;
	left: 13.927px;
	top: 298.415px;
}
#outline {
	transform: matrix(1,0,0,1,30.2637,292.6137) rotate(28deg);
	transform-origin: center;
	position: absolute;
	width: 17.584px;
	height: 17.584px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_299 {
	fill: rgba(233,228,219,1);
}
.Trazado_299 {
	overflow: visible;
	position: absolute;
	width: 3.171px;
	height: 3.171px;
	left: 0px;
	top: 13.456px;
	transform: matrix(1,0,0,1,0,0);
}
#Elipse_46 {
	fill: rgba(233,228,219,1);
}
.Elipse_46 {
	position: absolute;
	overflow: visible;
	width: 0.793px;
	height: 0.793px;
	left: 3.17px;
	top: 14.04px;
}
#Elipse_47 {
	fill: rgba(233,228,219,1);
}
.Elipse_47 {
	position: absolute;
	overflow: visible;
	width: 0.793px;
	height: 0.793px;
	left: 4.291px;
	top: 13.697px;
}
#Trazado_300 {
	fill: rgba(233,228,219,1);
}
.Trazado_300 {
	overflow: visible;
	position: absolute;
	width: 0.793px;
	height: 0.793px;
	left: 5.412px;
	top: 13.354px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_301 {
	fill: rgba(233,228,219,1);
}
.Trazado_301 {
	overflow: visible;
	position: absolute;
	width: 0.793px;
	height: 0.793px;
	left: 6.533px;
	top: 13.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_302 {
	fill: rgba(233,228,219,1);
}
.Trazado_302 {
	overflow: visible;
	position: absolute;
	width: 19.614px;
	height: 18.735px;
	left: 4.168px;
	top: 1.101px;
	transform: matrix(1,0,0,1,0,0);
}
#contactnovastonecapitalcom {
	left: 53px;
	top: 292px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 13px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(96,91,85,1);
}
#Trazado_303 {
	fill: rgba(233,228,219,1);
}
.Trazado_303 {
	overflow: visible;
	position: absolute;
	width: 17.323px;
	height: 17.281px;
	left: 184.677px;
	top: 296.025px;
	transform: matrix(1,0,0,1,0,0);
}
#Haldenstrasse_5__PO_Box_1359_6 {
	left: 210px;
	top: 294px;
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 22px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(96,91,85,1);
}
#Elipse_97 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_97 {
	position: absolute;
	overflow: visible;
	width: 10.418px;
	height: 10.418px;
	left: 226.019px;
	top: 251.034px;
}
#Elipse_99 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_99 {
	position: absolute;
	overflow: visible;
	width: 10.418px;
	height: 10.418px;
	left: 213.019px;
	top: 328.034px;
}
#Elipse_98 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_98 {
	position: absolute;
	overflow: visible;
	width: 25.418px;
	height: 25.418px;
	left: 328.019px;
	top: 294.034px;
}
#Elipse_96 {
	fill: rgba(255,255,255,1);
	stroke: rgba(183,177,164,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_96 {
	position: absolute;
	overflow: visible;
	width: 9.418px;
	height: 9.418px;
	left: 222.019px;
	top: 190.034px;
}